{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<br>
<h1 class="text-center">Finalizar postulación</h1>
<p>Postulante: {{postulantes.nombre}} {{postulantes.apellido_p}} {{postulantes.apellido_m}} </p>
<p>Colegio: {{postulantes.colegio1}}</p>

<br>
<div class="text-center">

</div>
<div class="row">
{% if postulantes.carta_oferta %}

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;"> 
                <div class="card-body">
                <h5 class="card-title">Carta oferta</h5>
                <p class="card-text">Pubicación: {{postulacion.fecha_oferta|date:"d/m/Y"}}</p>
                <a href="{{postulantes.carta_oferta.url}}" target="_blank" class="btn btn-primary btn-lg"><i class="fas fa-file-download"></i> Descargar </a>
                </div>
            </div>
        </div>
{% endif %}
{% if postulantes.ficha_fat %}
<div class="col-sm-4">
    <div class="card" style="width: 18rem;"> 
        <div class="card-body">
        <h5 class="card-title">Ficha FAT</h5>
        <p class="card-text">Pubicación: {{postulantes.fecha_fat|date:"d/m/Y"}}</p>
        <a href="{{postulantes.ficha_fat.url}}" target="_blank" class="btn btn-primary btn-lg"><i class="fas fa-file-download"></i> Descargar </a>
        </div>
    </div>
</div>
{% endif %}
</div>
<div id="popup"></div>

<br>
<form method="post" enctype="multipart/form-data">



    {% csrf_token %}
<ul>
    <li>
        <input class="a"  type="checkbox" name="finalizado" id="finalizado">
        <label class="form-check-label" for="finalizado"> Finalizar </label>
    </li>

</ul>

        <button type="submit" class="btn btn-success btn-md">Guardar</button>

</form>
<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }

    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>

<!--    
<script>
    function disable() {
      var elements = document.getElementsByClassName("d");
      document.getElementById("psicologa1").checked ? doIt(elements, true) : doIt(elements, false);

    }

    function doIt(elements, psicologa1) {
      for (var i = 0; i < elements.length; i++) {
        elements[i].disabled = psicologa1;
      }
    }
</script>

<script>
    function disabler() {
      var elements = document.getElementsByClassName("a");
      document.getElementById("psicologa2").checked ? doIt(elements, true) : doIt(elements, false);

    }

    function doIt(elements, psicologa2) {
      for (var i = 0; i < elements.length; i++) {
        elements[i].disabled = psicologa2;
      }
    }
</script>
-->
{% endblock %}